body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

textarea {
  width: 80%;
  height: 120px;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  font-size: 16px;
}
